{% load staticfiles %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Avartar</title>
	<link rel="stylesheet" href="{% static 'css/etc.css'%}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css" />
    <link rel="shortcut icon" href="{%static 'img/avartaricon.ico'%}" />
</head>

<body>
    <body>
		<div class="topnav">
			<div class="search-container">
				{% if user.is_authenticated %}
					<a style="font-size:20;font-weight: bold;">환영합니다 {{ user.username }}! </a><a style="font-size:20;font-weight: bold;" href="{% url 'logout' %}">#로그아웃</a>
				{% else %}
					<a style="font-size:20;font-weight: bold;" href="{% url 'login' %}" >#로그인</a>
					<a style="font-size:20;font-weight: bold;" href="{% url 'signup' %}" >#회원가입</a>
				{% endif %}
			</div>
		</div>
	</body>
    <main>
        <img src="{%static 'img/home.png'%}">
        <br>
        <br>
        <a href="{% url 'post_list'%}"><img src="{%static 'img/travel.png'%}"></a>
        &nbsp;
        &nbsp;
        <a href="{% url 'post_list'%}"><img src="{%static 'img/job.png'%}"></a>
        &nbsp;
        &nbsp;
        <a href="{% url 'post_list'%}"><img src="{%static 'img/etc.png'%}"></a>
    </main>
</body>

</html>
