{% load staticfiles %}

<html>
	<head>
	
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="shortcut icon" href="{%static 'img/avartaricon.ico'%}" />
		
		<meta charset="utf-8">
		<title>Avatar</title>
		<link rel="stylesheet" href="{% static 'css/etc.css' %}" type="text/css" />
		<link rel="shortcut icon" href="../avartaricon.ico" />

		 <style>
			p {
				border: 1px solid pink;
				margin: 10px;
			}
		</style>
	</head>
	
	<body>
		<div class="topnav">
			<a href="{% url 'main' %}"><img src="{% static 'img/home_fix.png' %}" width="120"></a>

			<div class="search-container">
				{% if user.is_authenticated %}
					<a style="font-size:20;font-weight: bold;">환영합니다 {{ user.username }}! </a><a style="font-size:20;font-weight: bold;" href="{% url 'logout' %}">#로그아웃</a>
				{% else %}
					<a style="font-size:20;font-weight: bold;" href="{% url 'login' %}" >#로그인</a>
					<a style="font-size:20;font-weight: bold;" href="{% url 'signup' %}" >#회원가입</a>
				{% endif %}
			</div>
		</div>
		
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					<br>
					<div class="post">
						<a href="{% url 'post_list' %}" style="font-size:12; font-weight:bold"><< 리스트로 돌아가기</a>
						
						<br>
						
						<h1>{{ title }}</h1>
						<h4>제공자: {{ info }}</h4>

						<br>
						<br>
						{% if url == None %}
							<iframe width="500" height="345" src="https://www.youtube.com/embed/ei344nnLLV0" ></iframe>
						{% else %}
							<iframe width="500" height="345" src="{{ url }}" ></iframe>	
						{% endif %}
						
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>