{% load staticfiles %}

<html lang="ko">
<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="shortcut icon" href="{%static 'img/avartaricon.ico'%}" />
		
    <meta charset="utf-8">
    <title>Avatar</title>
    <link rel="stylesheet" href="{% static 'css/etc.css' %}" type="text/css" />
    <link rel="shortcut icon" href="../avartaricon.ico" />
	
	<script>
		function donate() {
			document.getElementById("donate").checked = true;
			document.getElementById("donate").disabled = true;
		}
		function receive() {
			document.getElementById("receive").checked = true;
			document.getElementById("receive").disabled = true;
		}
		function video() {
			
		}
	</script>
</head>

<body>
    <div class="topnav">
        <a href="{% url 'main' %}"><img src="{% static 'img/home_fix.png' %}" width="120"></a>

        <div class="search-container">
			{% if user.is_authenticated %}
				<a style="font-size:20;font-weight: bold;">환영합니다 {{ user.username }}! </a><a style="font-size:20;font-weight: bold;" href="{% url 'logout' %}">#로그아웃</a>
			{% else %}
				<a style="font-size:20;font-weight: bold;" href="{% url 'login' %}" >#로그인</a>
				<a style="font-size:20;font-weight: bold;" href="{% url 'signup' %}" >#회원가입</a>
			{% endif %}
        </div>
    </div>
	
    <br>
	
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				<div class="post">
					<a href="{% url 'post_list' %}" style="font-size:12; font-weight:bold"><< 리스트로 돌아가기</a>
					<h2 style="font-weight:bold">{{ post.title }}</h2>
					<h4>{{ post.author }} | {% if post.published_date %}{{ post.published_date }}{% endif %}</h4>
					
					<div class = "textbutton">
						<a href="{% url 'post_edit' pk=post.pk %}" style="font-size:12; ">(#글 수정하기)</a>
						&nbsp;
						<a href="{% url 'post_remove' pk=post.pk %}" style="font-size:12; ">(#글 삭제하기)</a>
						&nbsp;
						{% if not post.published_date %}
						<a href="{% url 'post_publish' pk=post.pk %}" style="font-size:12; ">(#글 공개하기)</a>
						{% endif %}
					</div>
					
					<br>
					<br>
					
					<h4>{{ post.text|linebreaksbr }}</h4>
					
					<br>
					<br>
					<h4 style="font-weight:bold">'{{ post.title }}'의 제공 및 후원 상황</h4>
					<p>제공자: {{ info }}</p>
					<p>
					후원자: 
					{% for sponsor in sponsors %}
					{{ sponsor }}, 
					{% endfor %}
					</p>
					<br>
						{% if user.is_authenticated %}
							
							<a style="font-size:16; font-weight:bold" href="{% url 'add_user_sponsor' pk=post.pk %}">#후원하기</a> 
							&nbsp;
							<a style="font-size:16; font-weight:bold" href="{% url 'set_user_informant' pk=post.pk %}">#제공하기</a> 
							
							<br>
							<br>
							
							<a id="video" disabled class ="last" href = "{% url 'post_detail_video' pk=post.pk %}">동영상 보기</a>
						{% endif %}
				</div>

				<br>
				<br>
				<br>
				
				<h4 style="font-weight:bold">'{{ post.title }}'의 댓글</h4>
				
				{% for comment in post.comments.all %}
					{% if user.is_authenticated or comment.approved_comment %}
					<div class="comment">
						<strong>{{ comment.author }}</strong> | {{ comment.created_date }}
						<p>{{ comment.text|linebreaks }}</p>
						<div class="date">
							{% if not comment.approved_comment %}
								<a href="{% url 'comment_remove' pk=comment.pk %}" style="font-size:12">(#댓글 삭제하기)</a>
							{% endif %}
						</div>
					</div>
					<br>
					{% endif %}
				{% empty %}
					<p>첫 댓글의 주인이 되어보세요!</p>
				{% endfor %}
				
				<a class="last" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글 추가하기</a>
	
			</div>
		</div>
	</div>
    
</body>
    
</html>