{% load staticfiles %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Avatar</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
    <link rel="shortcut icon" href="{%static 'img/avartaricon.ico'%}" />
    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</head>

<body>
	
    <main>
		<form method="post">
		{% csrf_token %}
			<a href="{% url 'main' %}"><img src="{% static 'img/home_fix.png' %}" width="150"></a>
			<h2>#회원가입</h2>
			<br>
			<br>
			{{ form.as_p }}
			{% if form.errors %}
				<p>위의 조건에 맞추어 사용자 이름과 비밀번호를 입력해주세요.</p>
			{% endif %}
			<button type="submit" class="last">가입하기</button>
		</form>
    </main>
</body>

</html>